.sponsors {
  display: flex;
  flex-wrap: wrap;
  gap: var(--general-gap);
  justify-content: center;
}

.sponsor-item {
  border: 1px solid #9ab859;
  border-radius: var(--system-border-radius);
  height: 140px !important;
  width: 160px !important;

  img {
    border-radius: var(--system-border-radius);
    padding: 5px;
    height: 140px !important;
    width: 160px !important;
  }
}
